*{
padding: 0;
margin: 0;
}
body{
    background-color: black;

}
.container{
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   cursor: pointer;
   position: sticky;
   background-color: black;
   
}
.videotube{
    display: flex;
    align-items: center;
}
.image{
    border-radius: 20%;
    border: 3px solid red;
}
nav{
    width: 100%;
   padding: 10px 2%;
   justify-content: space-between;
   top: 0;
   z-index: 10;
   box-shadow: 1px 1px 1px 1px rgb(14, 12, 12);
   
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
}
.menuicon{
   font-size: 21px;
   color: #ffff;
   text-align: center;
   margin-right: 23px;
}
i{
    font-size: 21px;
   color: #ffff;
   text-align: center;
   margin-right: 23px;
}

.nav-middle{
   width: 650px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
#mic{
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(80, 74, 74, 0.5);
    border-radius: 50% ;
    padding: 12px;
    margin-left: 5px;
    
}
.search input{
    width: 510px;
    border-radius:2px ;
    text-align: center;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    border: none;
    color:#f9f9f9;
    margin-right: 20px;
    background-color: rgb(15, 15, 15);
    
}
.search{
    display: flex;
    align-items: center;
    width: 650px;
    height: 40px;
    border-radius: 20px;
    background-color: #525050;
    border: 1px solid #525050;
}
.nav-right {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 25px;
}
.profile{
    border-radius: 60%;
    width: 35px;
}
.siderbar{
    height: 1300px;
    width: 300px;
    background-color: black;
    

}

.shortcut-links { 
     text-wrap: wrap;
     padding: 20px;
     
}
.shortcut-links a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.shortcut-links p{
margin-left: 22px;
}
.second-sider h3{
    padding: 12px;
    color: #ffff;
}
.third-sider img{
   border-radius: 50%;
}
.third-sider h2{
    color: #fff;
    padding: 12px;
}
/* java class */
.small-sidebar{
    width: 100px;
}
.small-sidebar a p{
     display: none; 
}
.small-sidebar .third-sider{
    display: none;
}


/* banner */
.container-list{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 30px;
    
}
.container3 {
    width: 100%;
    padding: 10px; 
    justify-content: center;
}
.banner img{
    border-radius: 10px;
}
.container4{
  /* margin-left: 50px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-list img{
 border-radius: 12px;
 text-shadow: liner;
}
.picture{
   display: flex;
   align-items: center;
}
.picture img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.video-list{
    padding: 15px;
}
.video-info{
    margin: 10px;
    margin: 10px;
    color: #f9f9f9;
    font-size: 17px;
}
.video-info a{
    text-decoration: none;
    color: #ffff;
}
.video-info :hover{
    text-decoration:underline;
}
/* java */
.large-container{
    padding-left:10px;
}

/* next html file css page */
.play-container{
    width: 100%;
    margin:20px;
    padding-left:12px ;
    display: flex;


}

.play-video video{
  /* background-image: url(https://rukminim2.flixcart.com/image/850/1000/l572ufk0/paper/q/e/h/a3-ivory-drawing-sheet-set-of-50-sheet-300gsm-for-student-and-original-imagfxmggjhdfys6.jpeg?q=20&crop=false); */
  /* background-image: linear-gradient(pink, rgb(113, 20, 113)); */
  border-radius: 10px;
}

.side-video-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    
}
.side-video-list img{
    width: 300px;
    border-radius: 10px;

}
.video-info2{
    margin-left: 20px;
    color: rgb(91, 87, 87);
    font-size: 15px;    
}
.video-info2 a{
    text-decoration: none;
    color: rgb(120, 109, 109);
}
.video-icon i{
    color: #ffffff;
    margin-left:40px;
}
.right-side{
  margin-left: 25px;
}
.rightvideo{
    display: inline;
}
.tag{
    color: white;
    margin-bottom: 2px;
    margin: 10px;
}
.play-video-info {
    color: #f9f9f9;
    /* display: flex; */
}
.Like-icon {
   display: flex;
   padding: 10px;
   cursor: pointer;
}

.Like-icon i{
    font-size: 30px;
    padding: 10px;
    
}
.Like-icon i:hover{
    color: blue;
}

